@charset "UTF-8";


*,
::after,
::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Kaisei Opti', serif;
    background-image: url(../images/lace.50.jpg);
    background-repeat: repeat;
}

img {
    max-width: 100%;
    /*親要素からはみ出なくする設定*/
    height: auto;
    vertical-align: bottom;
    /*下の余白を除去する*/
}

header {
    height: 90px;
    background-color: #ff7f7f;
    background-image: url(../images/simasima.jpg);
    background-repeat: repeat-x;
    background-blend-mode: soft-light;
}
a {
    text-decoration: none;
}

ul,
ol {
    list-style-type: none;
}

.flex {
    display: flex;
}

.breadcrumb li:after {
    content: '>';
    padding: 0 6px;
    color: #333333;
}

.breadcrumb li:last-child:after {
    content: '';
}

.bc__item {
    font-size: 16px;
    color: #333333;
    margin: 10px;
}

a:hover {
    opacity: 0.5;
}



h2 {
    font-size: 32px;
    margin: 30px;
    text-align: center;
    
}
.result {
    display: grid;
    gap: 10px 10px;
   
    justify-content: center;     
    grid-template-columns: repeat(auto-fit, minmax(300px,1fr));
    margin: 30px auto 30px;

}
.result img {
    margin: 0 auto;
}

.flower {
    border-radius: 60px;
}

.type {
    object-fit: cover;
}

@media (max-width: 360px) {
    body {
        font-size: 12px
    }
}


footer {
    background-color: #ff9999;
    padding: 10px 50px;
    text-align: center;

}

.copyright {
    font-size: 16px;
    font-weight: bold;
    color: #333333;
}